body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-weight: bolder;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Full viewport height */
    margin: 10px;
}
#button {
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    background-color: gray;
    color: whitesmoke;
    border: 5px;
    margin: 20px;
}
#button:hover {
    background-color: rgb(82, 87, 87);
    transition: background-color 0.25s;
}
#button:active {
    background-color: rgb(48, 51, 51);;
}
#length {
    background-color: gray;
    border-radius: 7.5px;
    color: whitesmoke;
    border-color: gray;
    font-size: 1.5em;
}
#length:hover {
    background-color: rgb(82, 87, 87);
    transition: background-color 0.25s;
}
#container {
    text-align: center;
    position:static;
    background-color: black;
    color: white;
    padding: 60px;
    margin: auto;
    border-radius: 15px;
}
#result:hover {
    color: gray;
    transition: color 0.25s;
    cursor: pointer;
}
#contact:hover {
    color: gray;
    transition: color 0.25s;
    cursor: pointer;
}
#contact:active {
    color: rgb(82, 87, 87);
}
